.image-component-overlay {
	background-color: rgba(256, 256, 256, .8) !important;
	bottom: auto;
	box-sizing: border-box;
	margin: 8px;
	padding: 0 !important;
	top: 0;
	width: 50% !important;
}

.image-component-content-headline {
	margin-top: 16px;
}

.image-component-content-subheadline {
	margin-top: 4px;
	white-space: normal;
}